.button {
    -fx-font-weight: bold;
}
.tree-cell:scanitem {
	-fx-background: paleturquoise ;
}

.tree-cell:traceitem {
	-fx-background: honeydew ;
}

.tree-cell:filled:hover {
	-fx-background-color: forestgreen, -fx-background ;
	-fx-background-insets: 0,2 ;
}

.tree-cell:filled:selected {
	-fx-background: forestgreen ;
}

.text-field:drop {
  -fx-text-box-border: green ;
  -fx-focus-color: green ;
}

.commandLabel {
  -fx-font-weight: bold;
  -fx-font-style: italic;
}

.propertyLabel {
  -fx-padding: 0 0 0 20;
}

.editedPropertyValue {
  -fx-background-color: gainsboro
}

.windows7 {
    -fx-background-color: 
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 10px;
}